# Read by `npm run upload`

KINTONE_BASE_URL=https://your-subdomain.cybozu.com
KINTONE_USERNAME=your-username
KINTONE_PASSWORD=your-password

# Basic Auth users also need:
# KINTONE_BASIC_AUTH_USERNAME=
# KINTONE_BASIC_AUTH_PASSWORD=
